.fridge {
    max-width: 65%;
    background-color: #324d5c;
    background-size: cover;
    background-position: center;
}



.title p b {
    background-color: #e5edee;
    color:#000000;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}


article {
    background-color: #324d5c;
}

.outer {
    width: 100%;
    background-color: #324d5c;

}
header .auth a {
    margin: 0 auto; /*0 넣으면 가운데*/
    text-align: center;
    position: absolute;
    right:80px; /* */
    top: 20px;

}
.background{
    flex:1;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: #324d5c;
    background-position: center;
    text-align: center;
}
/* .상단부 */
.background .log-background{
    margin-top: 7rem;
    width:100%;
    flex-direction: column;
}

.background .log-background  .title{
    text-align: center;
}
.background .log-background .title p{
    flex:1;
    font-size: 17px;
    color: gray;
    
}
.wrap-item{
    padding-top:1rem;
    margin-right: 5%;
    /* input 요소 가운데 정렬 */
    height: auto;
    text-align: center;
    border: 1px solid lightgray;
    border-top: none;
    background-color: #e5edee;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;

}

.wrap-item .item input{
    border-radius:5px;
    height: 5vh;
    border: 1px solid lightgray;
    width: 70%;
}
.wrap-item .item{
    /* input 사이 간격 */
    margin : 1rem 0;
}

.wrap-item .item input:focus{
    border: 1px solid black;
}
.check-box{
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5vw;
}
.check-box input{
    width: 14px;
    height: 14px;
    top: 15px;
    left: 40px;
}
.check-box p{
    /* border: 1px solid red; */
    margin-left: 10px;
    font-size: 12px;
}
.a-btn{
    color:white;
    width: 70%;
    height: 35px;
    background-color: #0059AB;
    border: none;
    display: block;
    flex:1;
    border-radius: 4px;
    margin:0 auto;
    text-align: center;
    margin-bottom:2vh;
    
}
.a-btn:hover{
    background-color: #286090;
}
.sns-join  {
    flex:1;
}
/*sns 로그인 부분 */
.sns-join .title{
    margin-top: 10%;
    margin-right: 5%;
    flex:1;
    text-align: center;
    border: 1px solid lightgray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom: none;
    line-height: 60px;
    height: 60px;
    background-color: #e5edee;
}
.sns-join .title p{
    color: gray;
}
.sns-join .title p b {
    background-color: #e5edee;
    color:#000000;
}
.sns-join .wrap-item2{
    border: 1px solid lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #e5edee;
    margin-right: 5%;
    margin-bottom: 2vh;

}
.sns-join .wrap-item2 a{
    height: 35px;
    line-height: 35px;
    border: 1px solid lightgray;
    font-weight: bold;
    border-radius: 5px;
    width: 70%;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;


}
/* 깃허브 로그인 */
.wrap-item2 a:nth-child(1){
    margin-top: 1vh;
    background-color: rgb(24, 24, 24);
    color: white;
}
.wrap-item2 a:nth-child(1):hover{
    background-color: black;
}
/* 구글 로그인 */
.wrap-item2 a:nth-child(2){
    background-color:#FFFFFF;
    color : #222;
}
.wrap-item2 a:nth-child(2):hover{
    background-color:#eeeeee;
}
/* 페이스북 로그인 */
.wrap-item2 a:nth-child(3){
    background-color: #1877F2;
    color: white;
}
.wrap-item2 a:nth-child(3):hover{
    background-color: #2985ff;
}
/* 카카오 로그인 */
.wrap-item2 a:nth-child(4){
    background-color: #FCE601;
    color : #222;
}
.wrap-item2 a:nth-child(4):hover{
    background-color: #f1ed00;
}
/* 네이버 로그인 */
.wrap-item2 a:nth-child(5){
    background-color: #1EC800;
    color: white;
    margin-bottom: 1vh;

}
.wrap-item2 a:nth-child(5):hover{
    background-color: #21db00;

}
.wrap-item2 a b{
    font-family: "TmoneyRoundWindExtraBold";
    font-weight: bold;
}

a .icon2 {
    text-align: center;
}

a .icon2 img {
    width: 24px;
    height: 24px;
    text-align: center;
    padding-top: 4px; 
    border-top: 4px;
}
 