
header {
    position: absolute;
    width: 100%;
    margin: 0;
    height: 7rem;
    align-items: center;
    flex-shrink: 0;
    z-index: 1001;
}

header .auth{
    margin-right : 2rem;
    width: 110px;
    margin: 13px;
    margin-left: 90%;
}
 
header .authtab{
    display: flex;
    margin-left: auto;
}
header .authtab button{
    margin-right: 1rem;
    height : 2.4rem;
}

header .authtab .authtag{
    display: flex;
}

header .asidemenu{
    display:flex;
}
header .asidemenu a{
    margin: 0 0.1rem;
    margin-top: 8px;
}

.container{
    display: flex;
    flex-direction: column;
}

.container > div.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
}

.dl-1{
    margin-bottom: 20px;
}
.dl-1-im {
    text-align: center;
    font-size: 32px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl-1-btn {
    display: flex;
    justify-content: flex-end;
}

.dl-1-down {
    display: flex;
    width: 100px;
    border-radius: 4px;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
}
.comment{
    display: flex;
    margin : 20px 0;
    padding-top: 10px;
    padding-bottom: 15px;
}

.comment_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment_body {
    margin-left: 10px;
    width: 200%;
}

.date {
    width: 160px;
}

.author {
    width: 160px;
}

.img {
    margin-top: auto;
}

.com-reg{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    border-radius: 4px;
}

.com-reg > button {
    margin-top: 10px;
    width: 100px;
    border-radius: 6px;
    position: absolute;
    bottom: 80px;
    right: 20px;
    margin: 0 auto;
    font-size: 20px;
}
.comment .img {
    display: flex;
    justify-content: flex-end;
}
.comment .img img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: row;
        height: 4rem;
    }
}