.modal .upload{
    max-width: 35rem;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.modal .upload h1{
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
}
.modal .upload .upload-list{
    flex:1;
    padding: 1rem;
    overflow: auto;
}
.modal .upload .upload-list li{
    font-size: 0.8rem;
    font-weight: 500;
    padding-left: 0.5rem;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
}
.modal .upload  li span{
    margin-left: auto;
}
.modal .upload .fa-check {
    color : rgb(121, 228, 121);
    font-size: 16px;
}

.modal .upload .upload-list li:last-child{
    border-bottom: 1px solid black;
}
.modal .upload .upload-button{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.modal .upload .upload-button .size{
    line-height: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: auto;
}
.modal .upload .upload-button button{
    margin-right:0.6rem;
    height: 2rem;
    border:none;
    font-weight: bold;
}
.modal .upload .upload-button .cancel{
    width: 3rem;
}
.modal .upload .upload-button .submit{
    width: 4rem; 
    color: white;
    background-color: black;
}

/* nav */
nav .n-itm .far{
    width : 20px;
    margin-right: 0.3rem;
}
nav .github{
    display: block;
    margin-top: 10rem;
    padding-left: 1rem;
    font-size: 27px;
    color : white;
}

/* header */
header .search{
    flex: 2;
    max-width: 40rem;
    background-color: #F1F3F4;
    height: 2.5rem;
    margin: 0 3rem;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    padding: 0 1rem 0 0.5rem;
}
header .search .fa-search{
    box-sizing: border-box;
    height: 2.5rem;
    width: 2.5rem;
    color:rgb(46, 46, 46);
    font-size: 23px;
    text-align: center;
    line-height: 2.5rem;
}
header .search input{
    flex:1;
    min-width: 4rem;
    background-color: #F1F3F4;
    border:none;
    font-size: 1.1rem;
}
header .profile{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
header .profile .logout{
    display: flex;
    align-items: center;
}
header .profile .logout button{
    height: 2rem;
}    

header .profile .user{
    width : 3rem;
    height: 3rem;
    margin: 0 1rem;
}
header .profile .user img{
    object-fit: contain;
    width : inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 50%;
}
article{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article .fol-w{
    display: flex;
    flex-direction: column;

    
}

article .fol-w .fol-c{
    flex:1;
    display: flex;
    flex-wrap: wrap;
}

/* article */
article .com{
    margin: 10px;
    text-align: center;
    width: 6rem;
    height: 10rem;
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
}

article .com img{
    width: inherit;
    flex:1;
    object-fit: cover;
    overflow: hidden;
}
article .com h1{
    height: 3.3rem;
    font-size: 13px;
    line-height: 13px;
    word-break:break-all;
}
article .com .fol-b{
    display: flex;
    justify-content: space-between;
}
article .com .fol-b .fol-btn-s .checked{
    color: rgb(236, 236, 62);
}
article .com button{
    padding: 0;
}
article .com button i{
    font-size: 1.1rem;
    pointer-events: none;
}

.inner aside {
    flex: 1;
}
aside {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
aside div{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
aside div button{
    border:none;
    background-color: transparent;
    font-size: 1rem;
}
