header{
    background-color: #257dcf;
    justify-content: flex-end;
}
header .auth{
    margin-right : 2rem;
}
header .auth button{
    height: 2rem;
    font-size: 1rem;
}
.inner section{
    display: flex;
    justify-content: center;
}
.inner section article{
    flex:1;
    display: flex;
}
 
.des{
    flex:1;
}

/*sns 로그인 부분 */
.sns-join{
    margin-left: 30px;
}
.sns-join .title{
    text-align: center;
    border: 1px solid lightgray;
    border-bottom: none;
    line-height: 60px;
    width: 388px;
    height: 60px;
    background-color: #fff;
}
.sns-join .title p{
    color: gray;
}
.sns-join .wrap-item2{
    border: 1px solid lightgray;
    width: 388px;
    height: 276px;
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sns-join .wrap-item2 a{
    margin: 5px 0 ;
    width: 300px;
    height: 35px;
    border: 1px solid lightgray;
    font-weight: bold;
    border-radius: 5px;
    line-height: 35px;
}
.wrap-item2 a:nth-child(1){
    background-color: rgb(24, 24, 24);
    color: white;
}
.wrap-item2 a:nth-child(1):hover{
    background-color: black;
}
.wrap-item2 a:nth-child(2){
    background-color:#FFFFFF;
    color : #222;
}
.wrap-item2 a:nth-child(2):hover{
    background-color:#eeeeee;
}
.wrap-item2 a:nth-child(3){
    background-color: #1877F2;
    color: white;
}
.wrap-item2 a:nth-child(3):hover{
    background-color: #2985ff;
}
.wrap-item2 a:nth-child(4){
    background-color: #FCE601;
    color : #222;
}
.wrap-item2 a:nth-child(4):hover{
    background-color: #f1ed00;
}
.wrap-item2 a:nth-child(5){
    background-color: #1EC800;
    color: white;
}
.wrap-item2 a:nth-child(5):hover{
    background-color: #21db00;
}
.wrap-item2 a b{
    font-family: "TmoneyRoundWindExtraBold";
    font-weight: bold;
}
 