.content{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupname{
    margin-top: 3rem;
    background-color: white;
    font-weight: 500;
    justify-content: center;
    font-size: 40px;
}

.outer{
    width: 90%;
    margin-top: 3rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner {
    width: 90%;
    height: 80%;
    background: white;
    border-radius: 8px;
    display: block;
    justify-content: center;
    border: 1px solid black;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 130px;
}
.inner .img{
  margin-top : 3%;
}
.inner .img-help
{
  font-size: 12px;
}
.username{
    display: flex;
    justify-content: space-between;
    margin-top : 2%;
    margin-bottom: 3%;
}

.userid{
    display: flex;
    justify-content: space-between;
    margin-top : 2%;
    margin-bottom: 3%;
}

.change{
    display: flex;
    justify-content: flex-end;
}

.p-text {
  font-size : 0.8rem;
  margin : 1rem;
}

form{
    width: 90%;
    margin-top:2%;
}

.inner {
  padding-top: 1.8rem;
}

.inner .userid:hover  {
  background-color: rgb(226, 226, 226);
  color: white;
}

.inner .username:hover {
  background-color: rgb(226, 226, 226);
  color: white;
}

.inner .img .img-preview:hover {
  background-color: rgb(226, 226, 226);
  color: white;
}

.inner .img .img-preview{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.inner .img .img-preview .img-txt{
  width: 20%;
}

.inner .img .img-preview .img-help{
  flex-grow: 2;
}

.inner .username .username-txt{
  width: 20%;
}

.inner .username .username-help{
  flex-grow: 2;
}

.inner .userid .userid-txt{
  width: 20%;
}

.inner .userid .userid-help{
  flex-grow: 2;
}

.inner .p-comp{
  margin:0;
} 

.inner .p-comp div{
  height : 5.4rem;
  line-height: 5.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
    background-color: #F9B514;
    border-radius: 4px;
    cursor: pointer;
  }

/*username*/
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
  }

  .modalBox button {
    display: block;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .twobtn{
      display :flex;
      justify-content: space-between;
      width : 350px;

  }
  #my_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

  /* userid */
  .modal2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hidden2 {
    display: none;
  }

  .modal2 .bg2 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox2 {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
  }

  .modalBox2 button {
    display: block;
    margin: 0 auto;
  }
  .modal3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hidden3 {
    display: none;
  }

  .modal3 .bg3 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modalBox3 {
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
  }

  .modalBox3 button {
    display: block;
    margin: 0 auto;
  }
  .upload .Btntwo{
    display : flex;
    justify-content: space-between;
    width: 350px;
  }


  .inner .profile-img{
    object-fit: cover; 
    width : 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
  }