/* font-family  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/* Reset CSS */
html,
body{
    margin : 0;
    color : #222;
    font-weight : 300;
    background-color: #324d5c;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

*:focus { outline:none; }
div>a:hover,ul>a:hover{
    color : #222;
}

.icon img {
    top: 0.1px;
    width:160px;
    height:70px;
    margin-left:20px;
    text-align: center;
    position: absolute;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
    
}

a {
    text-decoration: none !important;
    color : #222;
    
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-weight: normal;
    border-top: 1px solid black;
    overflow: hidden;
}


button {
    cursor:pointer;
    outline: none;
    
}

p{
    margin:0;
    
}

input,textarea,select{
    outline : none;
}

* {
    box-sizing: border-box;
}

/* CSS */
.container {
    /* border: 1px solid black; */
    display: flex;
    position:relative; 

}

.modal{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height:100vh;
    z-index: 1;
    
}

/* 헤더 */
header{
    /* border: 1px solid black; */
    background-color: #95C5C1;
    display: flex;
    align-items: center;
    height: 4rem;
    z-index: 1001;
    border-bottom: rgb(207, 207, 207);
}

header .auth{
    margin-right : 2rem;
}
 
header .authtab{
    display: flex;
    margin-left: auto;
}
header .authtab button{
    margin-right: 1rem;
    height : 2.4rem;
}

header .authtab .authtag{
    display: flex;
}

header .asidemenu{
    display:flex;
}
header .asidemenu a{
    margin: 0 0.1rem;
}

.inner section{
    display: flex;
    justify-content: center;
    
}
.inner section article{
    flex:1;
    display: flex;
    
}
/*좌측 사이드바*/
nav {
    flex: 1;
    min-width: 10rem;
    background-color: #95C5C1;
    min-height: 100vh;

}
nav .t-img{
    display: flex;
    height: 4rem;
    border-bottom:1px solid rgb(209, 209, 209);
    display: inline-block;
    text-align: left;
}



/*로고*/
nav img {
    max-width: 100%;
}
/*사이드바 칸*/
nav .n-itm{
    padding : 3px;
    padding-left: 10%;
    font-weight: 500;
    cursor: pointer;
}
nav .n-itm:hover{
    background-color: #8fbdb9;

}

/* main */
main {
    flex: 8;
}

header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner {
    display: flex;
    
}

.inner section {
    flex: 5;
}
.inner section article {
    height: calc(100vh - 134px);
    
    
}

article {
    display: flex;
    flex-wrap: wrap;
    

    
}
/* 하단 footer 영역*/
footer {
    height: 70px;
}

/*반응형 관련*/
@media screen and (max-width: 1024px) {
    .inner aside {
        display: none;
    }
    .wrap-item{
        margin-top: 5%;
        margin-right: 5%;
        height: 95%;
    }
}
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    header{
        flex-direction: column;
        height:auto;
    }
    header div{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    div .group{
        justify-content: center;
    }
}

/* 팀 관련*/
.group{
    margin-left : 3%;
}

/*알림 아이콘*/
a.bell {
    position: relative;
    display: block;
    height: 50%;
    width: 50px;
    cursor: pointer;
}
 
/* 업로드 버튼 위치*/
/*업로드 메뉴 숨김*/
#menu{
    display: none;
} 

/*메뉴위치 : 왼쪽으로 -20em(화면밖에 숨긴다) 절대위치, 너비 10em*/
#nav{
    /*
    position:absolute; 
    left:-20em; 
    width :10em;
    */
    display: none;
} 

/*메뉴 목록 다시 보여줌  */
:checked ~ #nav{
    display: block;
    right: auto;
} 
ul.sort{
    display: flex;
    height: 75px;
    align-items: center;
}
ul #nav{
    float:right;
}
.dummy{
    height:37px;
}

/* 업로드 버튼 관련*/
ul div{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: white;
}

.invite_cowoker ul div{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: black;
}


ul div button{
    border:none;
    background-color: transparent;
    font-size: 1rem;
    color:white;
}

.teams{
    display: flex;
    flex-wrap: wrap;
}


.team{
    margin: 1rem;
    min-width: 15rem;
    min-height: 15rem;
}

 