.teams{
    display: flex;
    flex-wrap: wrap;
}

.team{
    border:1px solid black;
    margin: 1rem;
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 6px;
}

.team > h1 {
    background-color: blanchedalmond;
    height: 80px;
}

.team > a {
    position: relative;
    top: 70px;
    left: 150px;
}

form.create_team > #my_modal > div {
    width: 300px;
    margin: 30px auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
}

form.create_team > #my_modal> div > div {
    display: flex;
    margin: 40px auto;
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
    font-size: 32px;
    flex-shrink: 0;
    justify-content: center;
}

form.create_team > #my_modal > div > input {
    width: 200px;
}

form.create_team > #my_modal > div > button {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    flex-shrink: 0;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

header > a {
    background-color: #c3dce4;
    margin: 2px;
    padding: 4px 6px;
    border-radius: 4px;
    flex-shrink: 0;
}

header > p {
    position: absolute;
    left: 75px;
    margin: 0 auto;
    font-size: 32px;
    flex-shrink: 0;
}

header > a:hover {
    background-color: #e4c3dc;
}

#my_modal {
    display: none;
    width: 500px;
    height: 400px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#my_modal .modal_close_btn:hover {
    background-color: cornsilk;
    cursor: pointer;
}

.create_team {
    display: flex;
    justify-content: flex-end;
}

#popup_open_btn {
    /*design*/
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: row;
        height: 4rem;
    }
}