.teams{
    display: flex;
    flex-wrap: wrap;
}

.team{
    border:1px solid black;
    margin: 1rem;
    min-width: 15rem;
    min-height: 15rem;
    border-radius: 6px;
}

.team > h1 {
    background-color: blanchedalmond;
    height: 80px;
}

.team > a {
    position: relative;
    top: 70px;
    left: 150px;
}

form.create_team > div {
    margin: 30px 30%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

form.create_team > div > div {
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    margin-bottom: 20px;
    width: 250px;
    padding: 10px;
    font-size: 32px;
    text-align: center;
}

form.create_team > div > button {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
}